/*------- COMMON -------*/
.container {
    height: 100%;
}
.row {
    height: 100%;
    align-items: center;
}
header,
.low-footer {
    background-color: rgb(31, 62, 87);
}

/*---------------- HEADER ----------------*/
header {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
}
.logo {
    color: white;
}
/*------- hamburger -------*/
.hamburger {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
.hamburger i {
    color: white;
    font-size: 20px;
    line-height: 40px;
}

.hamburger:hover {
    border-color: lightgrey;
    cursor: pointer;
}
.hamburger:hover i {
    color: lightgrey;
}


/*---------------- MAIN ----------------*/
main section {
    padding: 80px 0px;
}

.small_wrapper {
    padding: 0px 80px;
    /* border: 1px solid orange; */
}

/*------- Hero -------*/
.hero {
    padding-top: 100px;
}
.hero,
.about {
    color: white;
    background-color: rgb(53, 202, 170);
}
.hero img {
    width: 200px;
    margin: 20px 0px;
}
/*------- decoration -------*/
.decoration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}
.decoration i {
    margin: 0px 10px;
}
.line {
    height: 3px;
    width: 120px;
}
.bg_black {
    background-color: black;
}
.bg_white {
    background-color: white;
}

/*------- Portfolio -------*/
.box-img {
    margin: 12px 0px;
}
.box-img img {
    width: 100%;
    border-radius: 10px;
}

/*------- Portfolio -------*/
.info {
    height: 300px;
    border: 1px solid;
    border-radius: 10px;
}

/*---------------- FOOTER ----------------*/
footer {
    color: white;
}
/*------- Top footer -------*/
.top-footer {
    background-color: rgb(72, 102, 126);
    /* height: 200px; */
}
/*------- icons -------*/
.circle {
    display: inline-block;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    margin: 0px 5px;
}
.circle:hover {
    background-color: rgba(255, 255, 255, 0.829);
    transition: 0.4s;
}
.circle i {
    line-height: 50px;
    font-size: 20px;
}
.circle:hover i {
    color: rgb(72, 102, 126);
}

/*------- Low footer -------*/
.low-footer {
    padding: 30px 0px;
    /* height: 100px; */
}

/*---------------- RESPONSIVE ----------------*/
@media screen and (min-width: 768px) {

 /*------- hamburger -------*/
    .hamburger {
        display: none;
    }
    
}
