/*------- COMMON -------*/
.row {
    /* border: 1px solid rgba(202, 142, 142, 0.452); */
}

/*---------------- HEADER ----------------*/
header {
    background-color: rgb(56, 87, 128);
}
.space-header {
    padding: 15px 0px;
    align-items: center;
}
.logo {
    color: white;
}

/*---------------- MAIN ----------------*/
/*------- Hero -------*/
.hero,
.about {
    color: white;
    background-color: rgb(14, 211, 168);
}
.hero i {
    font-size: 150px;
}

/*------- Portfolio -------*/
.box-img {
    /* border: 1px solid rgba(0, 0, 0, 0.103); */
    padding: 10px 0px;
}
.box-img div {
    background-color: rgb(118, 177, 192);
    border-radius: 10px;
    height: 250px;
}

/*------- Portfolio -------*/
.info {
    height: 300px;
    border: 1px solid;
    border-radius: 10px;
}

/*---------------- FOOTER ----------------*/
footer {
    color: white;
}
/*------- Top footer -------*/
.top-footer {
    background-color: rgb(60, 95, 124);
    /* height: 200px; */
}
/*------- Low footer -------*/
.low-footer {
    background-color: rgb(28, 50, 68);
    /* height: 100px; */
}

